# Learn Python from W3 schools

01. syntax

In [83]:
print("Hello world")

Hello world

02. comments

In [84]:
# This is single line comment 
"""
Multiline comment can be written in triple quotes 
like alike
multiline comment 
"""
# t is a also
# multiline 
# comment

'\nMultiline comment can be written in triple quotes \nlike alike\nmultiline comment \n'

03. Variables.

Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

In [85]:
x = 14
y = "ali"
# print(x)
# print(y)
z = 30
z = "nawaz"
# print(z)
# its a line by line interpreter so print of z will be last declared value.
# Casting = If you want to specify the data type of a variable, this can be done with casting.
a = str ("abc")
b = int (123)
c = float (3)
# print(a,b,c)
#Get the Type
#You can get the data type of a variable with the type() function.
# print(type(x))
# print(type(y))
# print(type(z))
# print(type(x))
# Case Sensitive
a = "waleed"
A = 23
# print(a)
# print(A) # a will not overwrite A
# Variable Names
""" 
A variable name must start with a letter or the underscore character
A variable name cannot start with a number
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
Variable names are case-sensitive (age, Age and AGE are three different variables)

"""
myvar = "Waleed"
my_var = "waleed"
_my_var = "waleed"
myVar = "waleed"
MYVAR = "waleed"
myvar2 = "waleed"
# illegal variable name 
"""
2myvar = "John"
my-var = "John"
my var = "John"

"""
# Assign Multiple Values
# example 1
a, b, c = 12 ,"ali", 30
# print(a)
# print(b)
# print(c)
# example 2
a= b= c = 100
# print(a)
# print(b)
# print(c)
# example 3
name = ["ali", "waleed", "saad" ]
x,y,z = name
# print(x)
# print(y)
# print(z)
# Output Variables
x = "Python is awesome"
# print(x)
x = "Python"
y = "is"
z = "awesome"
# print(x, y, z)
x = "Python "
y = "is "
z = "awesome"
# print(x + y + z)
x = 5
y = 10
# print(x + y) # 15 due to addition 
x = 5
y = "John"
# print(x + y) # error because types of both variable are not same 
x = 5
y = "John"
# print(x, y)
# Global Variables
# example 1
x = "Python" 
def myFunc ():
    print(x + "is awesome i like it. Its a dynamic langue and used worldwide.")

# myFunc()
# example 2
x = "awesome"
def myFunc():
  x = "fantastic"
  print("Python is " + x)

# myFunc() # In this case python will print inside the function value fantastic

# print("Python is " + x) # in this case python will print first x variable value which is outside the function.
# example 3
def myFunc():
  global x
  x = "fantastic"

# myFunc()

#print("Python is " + x)
x = "awesome"

def myFunc():
  global x
  x = "fantastic"

myFunc()

print("Python is " + x) # In this case python will print the value of x which is globally assigned. "fantastic"

Python is fantastic

04. Python Data Types  
Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
None Type:	NoneType

In [86]:
x = "My name is khalid nawaz ch" # str 
x = 123 # int 
x = 2.0 # float 
x = 7j # complex 
x = ["ali","saad", "waleed", "khalid"]# list 
x = ("ali","saad", "waleed", "khalid")# tuple  
x = range(6) # range 
x = {"name" : "John", "age" : 36} # dict 
x = {"apple", "banana", "cherry"} # set
x = frozenset({"apple", "banana", "cherry"}) # frozenset
x = True # bool
x = False # bool
x = b"logo" # bytes 
x = bytearray(5) # bytearray
x = memoryview(bytes(5)) # memoryview 
x = None

05. Get data types

In [87]:
k = "khalid nawaz"
print(type(k))

<class 'str'>

06. f-string 
if you want to make a card or other thing like this you have to need put data of different data types in a single data type then simply use f-string function.

In [88]:
Name = "Hello, World I am khalid nawaz."
education = "I have done master in PIAIC."
Age = "I am 28 years old."
roleNumber = 22517

data = f""" 
Name = {Name}
Education = {education}
Age = {Age}
Role Number = {roleNumber}
"""
print (data)

Name = Hello, World I am khalid nawaz.
Education = I have done master in PIAIC.
Age = I am 28 years old.
Role Number = 22517

07. execute function

In [89]:
code ="""  
print ("My name is khalid nawaz, im from PIAIC.")
num1 = 30
num2 = 50
print (num1+num2)
num3 = 30
num4 = 5 
print (num3*num4)
"""
exec(code)

My name is khalid nawaz, im from PIAIC.
80
150

09. import re function.

In [90]:
import re 
name : str = "    kHaLiD      nawaz   "
display(name)
NewName : str = re.sub(' {2,100}',' ', name) # convert the spaces between 2 to 100 in a single space of name variable.
display(NewName)
display(NewName.capitalize().strip())

'    kHaLiD      nawaz   '

' kHaLiD nawaz '

'khalid nawaz'

In [91]:
# import pandas as pd
# table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
# table[0]

Python Assignment Operators

In [92]:
a = 10 
a += 10
print(a)# add new value in preassign value.
print(a==a)

20
True

Ascii code range 

Z = 90
a = 97
z = 122 
0 = 48
9 = 57 

its can be used for comparison operators for easily.

Python Identity Operators

In [98]:
name =["ali","saad", "waleed"]
NewName =["ali","saad", "waleed"]
print (name is NewName)
print(id(name))
print(id(NewName)) # both has different ids

False
2846443064832
2846443073984

In [2]:
name =["ali","saad", "waleed", "hamza","noor"]
for x in name:
 print(f'welcome to home {x.title()}.')
 print("Again welcome to home.\n")

welcome to home Ali.
Again welcome to home.

welcome to home Saad.
Again welcome to home.

welcome to home Waleed.
Again welcome to home.

welcome to home Hamza.
Again welcome to home.

welcome to home Noor.
Again welcome to home.

In [96]:
name =["ali","saad", "waleed"]
NewName =["ali","saad", "waleed"]
print (name == NewName)

True

In [99]:
name =["ali","saad", "waleed"]
NewName =["ali","saad", "waleed"]
name = NewName
print(id(name))
print(id(NewName))
print (name is NewName)

2846442622336
2846442622336
True

In [3]:
abc = [chr(i) for i in range(65,91)]
print(abc)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

Python Membership Operators

In [95]:
abc :list [str] = [chr(i) for i in range(65,91)]
print(abc)
print("pak" in abc)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
False

user input function

In [107]:
name : list[str] = ["ali","saad", "waleed"]
userInput :str = input("Enter your name")
userInput in name

True

Operator Precedence

<img src ='https://learningmonkey.in/wp-content/uploads/2021/05/Operator-Precedence-and-Associativity-in-Python.jpg'>

In [108]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

list

* dynamic data
* multiple data type 
* find index by two method 
    * positive index 
    * negative index

In [110]:
studentsName = ["A", "B", "C","D", "E", "F", "G"]
print(studentsName)
print(studentsName[-4])
print(studentsName[3])

['A', 'B', 'C', 'D', 'E', 'F', 'G']
D
D

In [120]:

data : any = ["Name = khalid nawaz", "Roll no:", 22517, True, ]
print(data[-2])# print init.
newData= ["khalid nawaz", 22517, True,["Ali", "Saad", "Hamza"], "waleed" ]
print(newData[0])# print first index of list.
print(f'Name of my friends = {newData[3]}')# print array in array.
print(f'Name of my best friend = {newData[0].upper()}')# print first index of list in upper value.
print(type(data))# print type of data

22517
khalid nawaz
Name of my friends = ['Ali', 'Saad', 'Hamza']
Name of my best friend = KHALID NAWAZ
<class 'list'>

slicing
* make a new list of actual list by slice method

In [127]:
studentsName = ["A", "B", "C","D", "E", "F", "G"]
print(len(studentsName))# len property of list 
print(studentsName[0:3]) # start from 0 include 3 and -1.
print(studentsName[:3]) # if we not add start number its will start from 0 index.
print(studentsName[-7: -4]) # if we not add start number its will start from 0 index. 
print(studentsName[::-1]) # star from last to word star.
print(studentsName[::2]) # start from A and jump to c change step to step index.
print(studentsName[:]) # 
studentsName[3] = "khalid nawaz"# replace element of list
print(studentsName)

7
['A', 'B', 'C']
['A', 'B', 'C']
['A', 'B', 'C']
['G', 'F', 'E', 'D', 'C', 'B', 'A']
['A', 'C', 'E', 'G']
['A', 'B', 'C', 'D', 'E', 'F', 'G']
['A', 'B', 'C', 'khalid nawaz', 'E', 'F', 'G']

The list() Constructor
* It is also possible to use the list() constructor when creating a new list.

In [128]:
makeList = list(("By","this list()", "we can make a new list."))
print(makeList)

['By', 'this list()', 'we can make a new list.']

In [5]:
# Example
# Change the values "banana" and "cherry" with the values "blackcurrant" and "watermelon": 
#              0        1          2        3         4        5
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [131]:
# Change the second value by replacing it with two new values:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:2] = "value 1", "value 2"
print(thislist)

['apple', 'value 1', 'value 2', 'cherry', 'orange', 'kiwi', 'mango']

In [134]:
# Change the second and third value by replacing it with one value:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["one value"]
print(thislist)

['apple', 'one value', 'orange', 'kiwi', 'mango']

In [6]:
# Insert "watermelon" as the third item:
#             0         1         2          3        4       5
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry', 'orange', 'kiwi', 'mango']

In [136]:
# Using the append() method to append an item:
# To add an item to the end of the list, use the append() method:
#             0         1         2          3        4       5
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist.append("watermelon")
print(thislist)

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'mango', 'watermelon']

In [137]:
# Insert an item as the second position:
#             0         1         2          3        4       5
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist.insert(1, "watermelon")
print(thislist)

['apple', 'watermelon', 'banana', 'cherry', 'orange', 'kiwi', 'mango']

In [165]:
# reverse method
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist.reverse()
thislist

['mango', 'kiwi', 'orange', 'cherry', 'banana', 'apple']

In [166]:
# sort method
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist.sort() # arrange all item alphabetically
thislist

['apple', 'banana', 'cherry', 'kiwi', 'mango', 'orange']

In [139]:
# Extend List
# To append elements from another list to the current list, use the extend() method.
# Example
# Add the elements of tropical to thislist:

thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [140]:
# Add Any Iterable
# The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

# Example
# Add elements of a tuple to a list:

thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [143]:
# Remove Specified Item
# The remove() method removes the specified item.
# Example
# Remove "banana":

thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [150]:
# Remove Specified Index
# The pop() method removes the specified index.
# Example
# Remove the second item:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)
# Remove the first item:
thislist = ["apple", "banana", "cherry"]
thislist.pop(0)
print(thislist)
# If you do not specify the index, the pop() method removes the last item.
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'cherry']
['banana', 'cherry']
['apple', 'banana']

In [155]:
# The del keyword also removes the specified index:
# Example
# Remove the first item:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)
# The del keyword can also delete the list completely.
# Example
# Delete the entire list:
thislist = ["apple", "banana", "cherry"]
del thislist
print(thislist) #this will cause an error because you have successfully deleted "thislist".

['banana', 'cherry']

NameError: name 'thislist' is not defined

In [156]:
# Clear the List
# The clear() method empties the list.

# The list still remains, but it has no content.

# Example
# Clear the list content:

thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [160]:
# Loop Through a List
# You can loop through the list items by using a for loop:
# Example
# Print all items in the list, one by one:
thislist = ["apple", "banana", "cherry"]
for vertical in thislist:
    print(vertical)

apple
banana
cherry

In [163]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
    print(thislist[i])

apple
banana
cherry

In [167]:
number = [1,2,3,4,5,6,7,8,9,10]
for v in number:
    print(v)

1
2
3
4
5
6
7
8
9
10

List Comprehension:

List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

Example:

Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.

Without list comprehension you will have to write a for statement with a conditional test inside:

In [173]:
thislist = ["apple", "banana", "cherry"]
new_list = []
for x in thislist:
    if "a" in x:
     new_list.append(x)
print(new_list)

['apple', 'banana']

In [8]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)
print(newlist)

['apple', 'banana', 'mango']

In [176]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango", "apple"]
myfruits = []
for x in fruits:
    if "a" in x:
        myfruits.append(x)
print(myfruits)

['apple', 'banana', 'mango', 'apple']

In [177]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango", "apple"]
myfruits = [x for x in fruits if "a" in x]
print(myfruits)

['apple', 'banana', 'mango', 'apple']

In [9]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango",]
fruits.sort() # arrange items alpabetically
fruits

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [183]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango",]
fruits.sort(reverse=True)
fruits

['mango', 'kiwi', 'cherry', 'banana', 'apple']

In [189]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango",]
myfruits = fruits
myfruits
myfruits.append("waleed")
print(myfruits)
print(fruits)

['apple', 'banana', 'cherry', 'kiwi', 'mango', 'waleed']
['apple', 'banana', 'cherry', 'kiwi', 'mango', 'waleed']

In [190]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango",]
myfruits = fruits.copy()
myfruits.append("waleed")
print(myfruits)
print(fruits)

['apple', 'banana', 'cherry', 'kiwi', 'mango', 'waleed']
['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [194]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango",]
myfruits =list(fruits)
myfruits.append("waleed")
print(myfruits)
print(fruits)

['apple', 'banana', 'cherry', 'kiwi', 'mango', 'waleed']
['apple', 'banana', 'cherry', 'kiwi', 'mango']

user input data base

In [244]:
users = [{"sir zia", "123"},{"ali", "123"},{"sir", "123"},]
input_of_user = input("Enter your user name.")
input_of_password = input("Enter your password")
for x in users:
     user, password = x
     if input_of_user == user and input_of_password == password:
        print("welcome to home")
        break 
else:
    print("Invalid user")

Invalid user

* List 
* iteration operation wit loop
* apply any operation on element

In [2]:
name =["ali","saad", "waleed", "hamza"]
print(name)
for x in name:
    print(x)

['ali', 'saad', 'waleed', 'hamza']
ali
saad
waleed
hamza

# Number with loop

In [21]:
range(10)
range(0, 10)
list(range(10))
list(range(0, 10))
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
list(range(0, 50, 2))

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48]

In [8]:
list(range(0, 20, 3))

[0, 3, 6, 9, 12, 15, 18]

In [14]:
for n in range(1, 11,):
    print(f"{2} x {n} = {n*2}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [17]:
for n in range(1, 11,):
    print(f"{7} x {n} = {n*2}")

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [22]:
[f"{7} x {n} = {n*2}"  for n in range(1, 11,)]

['7 x 1 = 2',
 '7 x 2 = 4',
 '7 x 3 = 6',
 '7 x 4 = 8',
 '7 x 5 = 10',
 '7 x 6 = 12',
 '7 x 7 = 14',
 '7 x 8 = 16',
 '7 x 9 = 18',
 '7 x 10 = 20']

* list comprehensive

In [20]:
for n in range(1, 11):
    print(n**2)

1
4
9
16
25
36
49
64
81
100

In [21]:
[n**2 for n in range(1, 11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [23]:
number = [12,435,67,9,8,7,45,8957,6,954,43,7,32,3,78,9,21,1,2,74,34,7]
print(number)
print(max(number))
print(min(number))
print(sum(number))

[12, 435, 67, 9, 8, 7, 45, 8957, 6, 954, 43, 7, 32, 3, 78, 9, 21, 1, 2, 74, 34, 7]
8957
1
10811

# Tuples

In [35]:
num = ("a","2","3","4","5")
print(num)
print(len(num))
print(num[2])
num[2]="pakistan"

('a', '2', '3', '4', '5')
5
3

TypeError: 'tuple' object does not support item assignment

In [36]:
num = ("a","2",[1,2,3,4,5],"4","5")
print(num)
print(len(num))
print(num[2])
num[2].append("update list in tuple")
print(num)

('a', '2', [1, 2, 3, 4, 5], '4', '5')
5
[1, 2, 3, 4, 5]
('a', '2', [1, 2, 3, 4, 5, 'update list in tuple'], '4', '5')

# chapter 5 lecture 6 If Else Statements

In [5]:
a = 10
b = 20 
if a < b :
    print("a less then b")

a less then b

In [7]:
a = 10
b = 20 
if a < b :
   print("a less then b")

a less then b

In [8]:
a = 10
b = 10
if a < b :
    print("a less then b")
elif a == b:
    print("a is equal to b")

a is equal to b

In [9]:
a = 10
b = 10
if a < b :
    print("a less then b")
elif a > b:
    print("a is greater then b")
else :
    print("a is equal to b")

a is equal to b

In [10]:
a = 10
b = 20 
if a < b : print("a less then b")

a less then b

In [13]:
a = 10 
b = 20 
c = 30 
if a < b and b > c:
    print("this statement is correct ")
else:
    print("correct your statement")

correct your statement

In [14]:
a = 10 
b = 20 
c = 30 
if a < b or b > c :
    print("this statement is correct")
else:
    print("correct your statement")

this statement is correct

In [15]:
a = 30 
b = 40 
if not a > b :
    print("this is a correct statement")

this is a correct statement

nested if

In [21]:
x = 100
if x > 200 :
    print("x is greater then 200")
    if x < 40 :
        print("x is less then 40 ")
else:
        print("both statement are incorrect ")

both statement are incorrect

In [24]:
per = int(input("Enter your per = "))
grade = None 
if per >= 80:
    grade = "A"
elif per >= 70:
    grade = "B"
elif per >= 60:
    grade = "C"
elif per >= 50:
    grade = "D"
elif per >= 40:
    grade = "E"
else:
    grade = "F"
print(f'Dear student your percentage is {per}.\nYour calculated grade is {grade}. ')

Dear student your percentage is 56.
Your calculated grade is D.

In [6]:
per = [43,54,56,76,55,89,90,65,44]
scores = []
for x in per:
    score = ""
    if x >= 80:
     score = "A"
    elif x >= 70:
      score = "B"
    elif x >= 60:
      score = "C"
    elif x >= 50:
      score = "D"
    elif x >= 40:
      score = "E"
    else:
      score = "F"
    scores.append(score)
print(per)
print(scores)
list(zip(per, scores))

[43, 54, 56, 76, 55, 89, 90, 65, 44]
['E', 'D', 'D', 'B', 'D', 'A', 'A', 'C', 'E']

[(43, 'E'),
 (54, 'D'),
 (56, 'D'),
 (76, 'B'),
 (55, 'D'),
 (89, 'A'),
 (90, 'A'),
 (65, 'C'),
 (44, 'E')]

In [32]:
cars= ["Bmw", "Corolla", "Honda"]
for x in cars:
 if x == "Bmw":
  print(x.upper())
 else:
  print(x.title())

BMW
Corolla
Honda

# class 07 # dictionary

In [43]:
from typing import Dict,Union
cars: Dict[str,str]={"Bmw":"car", "Corolla":"pakistan car", "Honda":"my car"}
print(cars)
# we can make owr custom data type throw import union data type 
Key = Union[str,int]
Value = Union [str, int,]
car:Dict[Key,Value]={"Bmw":"car", 123:"pakistan car", "Honda":125}
print(car)
#gain data from dict
print(car["Honda"])
print(car[123]) # according to role of dict we have to put the specific data type of key if we want gain thats value.
# we can assign all data types in value but we cant do this in key

{'Bmw': 'car', 'Corolla': 'pakistan car', 'Honda': 'my car'}
{'Bmw': 'car', 123: 'pakistan car', 'Honda': 125}
125
pakistan car

# add value in empty dictionary

In [57]:
from typing import Dict,Union
Key = Union[str,int]
Value = Union [str, int,]
studentsName:Dict[Key,Value]={}
studentsName["First Name"] = "Khalid"
studentsName["Second Name"] = "Nawaz"
studentsName["Last Name"] = "Ch"
print(studentsName)
[i for i in dir(studentsName) if "_" not in i]

{'First Name': 'Khalid', 'Second Name': 'Nawaz', 'Last Name': 'Ch'}

['clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

# we can get all prototype of any data type by this code

In [60]:
[i for i in dir(studentsName) if "_" not in i]

['clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [1]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [2]:
dir(int)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'is_integer',
 'numerator',
 'real',
 'to_bytes']

In [64]:
# get method in dir 
car:Dict[Key,Value]={"Bmw":"3399", 123:"pakistan car", "Honda":125}
#print(car["Bus"]) BUs is not a key of car if we print like this its will create a error and so our pregame can be distorted.
print(car.get("Bus"))#==> None # now we use get function if key is not available its will create a message non if key is available its will print its value.
print(car["Bmw"])#==>3399

None
3399

In [27]:
# keys, values, items methods
car ={"Bmw":"3399", 123:"pakistan car", "Honda":125}
print(car.keys())
print(car.values())
print(car.items())# list of tuple values ==> dict_items([('Bmw', '3399'), (123, 'pakistan car'), ('Honda', 125)])
print(car.copy())
print(car.popitem())# remove last item from dictionary
print(car.setdefault("Set", "Default"))# add new item in set
print(car)
car1 ={"Bmw": 3399,"Mehran": 1212, "Honda": 125}
print(car.update(car1))
#print(car.fromkeys())
print(car.clear())# None

dict_keys(['Bmw', 123, 'Honda'])
dict_values(['3399', 'pakistan car', 125])
dict_items([('Bmw', '3399'), (123, 'pakistan car'), ('Honda', 125)])
{'Bmw': '3399', 123: 'pakistan car', 'Honda': 125}
('Honda', 125)
Default
{'Bmw': '3399', 123: 'pakistan car', 'Set': 'Default'}
None
None

In [28]:
car ={"Bmw":"3399", 123:"pakistan car", "Honda":125}
car1 ={"Bmw": 3399,"Mehran": 1212, "Honda": 125}
print(car.update(car1))

None

# shuffle method in python 
* replace on value to other

In [80]:
a = [1,2,3,4,5]
b = [5,4,3,2,1]
print(a)
print(b)
a,b = b,a 
print(a)
print(b)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]

# we have a set convert it into list.

In [1]:
# we cant performed ataration on set data type so we will convert set datatype into list   
abc : set = {1,2,4,5,6}
print(abc)
xyz : list[int] = list[abc]
print(xyz)

{1, 2, 4, 5, 6}
list[{1, 2, 4, 5, 6}]

# class 08

In [1]:
data : set = {1,2,3,5,6,}
print(data)
listdata : list[int] = list[data]
print(listdata)

{1, 2, 3, 5, 6}
list[{1, 2, 3, 5, 6}]

# why this dictionary is important?

In [5]:
import pandas as pd
car = {"Bmw": 3399, "corolla" : 1212, "Honda": 125}
df = pd.DataFrame(list(car.items()), columns=['Key', 'Value'])
print(df)

       Key  Value
0      Bmw   3399
1  corolla   1212
2    Honda    125

In [6]:
import pandas as pd
car = {"Bmw": 3399, "Pakistan": 1947, "Honda": 125}
df = pd.DataFrame(list(car.items()), columns=['Car', 'Value'])
print(df)

        Car  Value
0       Bmw   3399
1  Pakistan   1947
2     Honda    125

# class 09

# loop and input from user 
* while loop
* for loop 
* control
     * break 
     * continue 
     * pass
* input from input function
* input from console function 
# loop working on iterative data types 
* list 
* dict
* tuple 
* string

# why iteration is important?
* iteration is important for print the value by schedule.

In [8]:
num1 = [1,2,3,4,5,6,7,8,9,10]
print(num1) # simple print 
for n in num1: # apply iteration on num1 here.
    print(n)
# Using range to generate a list from 1 to 20 (exclusive)
numbers_list = list(range(1, 21))
# Print the list
print(numbers_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
1
2
3
4
5
6
7
8
9
10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [9]:
# Dictionary of cars with names as keys and models as values
cars = {
    "Bmw": "Model X",
    "Toyota": "Camry",
    "Honda": "Civic",
    "Ford": "Mustang",
    "Chevrolet": "Malibu"
}

# Creating a list of cars with names and models as tuples
car_list = list(cars.items())

# Iterating over the car list and printing car names and models
for car_name, car_model in car_list:
    print(f"Car Name: {car_name}, Model: {car_model}")

Car Name: Bmw, Model: Model X
Car Name: Toyota, Model: Camry
Car Name: Honda, Model: Civic
Car Name: Ford, Model: Mustang
Car Name: Chevrolet, Model: Malibu

In [10]:
# Ask for user's name using input function
user_name = input("What is your name? ")

# Print the welcome message using the user's name
print(f"Welcome to home, {user_name}!")

Welcome to home, waleed!

In [3]:
# performed a while loop function of bellow list.
num1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Initialize an index variable
index = 0

# Perform a while loop to iterate through the list
while index < len(num1):
    print(num1[index])  # Print the current number
    index += 1  # Move to the next index

1
2
3
4
5
6
7
8
9
10

In [4]:
# Generate and print the table of 2
print("Table of 2:")
for i in range(1, 11):
    result = 2 * i
    print(f"2 x {i} = {result}")

Table of 2:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

# class 10 function

In [5]:
# Define the piaic function.
def piaic():
    print("My name is Waleed Nawaz")

# Call the piaic function.
piaic()

My name is Waleed Nawaz

In [6]:
piaic()

My name is Waleed Nawaz