# Learn Python from W3 schools

01. syntax

In [28]:
print("Hello world")

Hello world

02. comments

In [29]:
# This is single line comment 
"""
Multiline comment can be written in triple quotes 
like alike
multiline comment 
"""
# t is a also
# multiline 
# comment

'\nMultiline comment can be written in triple quotes \nlike alike\nmultiline comment \n'

03. Variables.

Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

In [30]:
x = 14
y = "ali"
# print(x)
# print(y)
z = 30
z = "nawaz"
# print(z)
# its a line by line interpreter so print of z will be last declared value.
# Casting = If you want to specify the data type of a variable, this can be done with casting.
a = str ("abc")
b = int (123)
c = float (3)
# print(a,b,c)
#Get the Type
#You can get the data type of a variable with the type() function.
# print(type(x))
# print(type(y))
# print(type(z))
# print(type(x))
# Case Sensitive
a = "waleed"
A = 23
# print(a)
# print(A) # a will not overwrite A
# Variable Names
""" 
A variable name must start with a letter or the underscore character
A variable name cannot start with a number
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
Variable names are case-sensitive (age, Age and AGE are three different variables)

"""
myvar = "Waleed"
my_var = "waleed"
_my_var = "waleed"
myVar = "waleed"
MYVAR = "waleed"
myvar2 = "waleed"
# illegal variable name 
"""
2myvar = "John"
my-var = "John"
my var = "John"

"""
# Assign Multiple Values
# example 1
a, b, c = 12 ,"ali", 30
# print(a)
# print(b)
# print(c)
# example 2
a= b= c = 100
# print(a)
# print(b)
# print(c)
# example 3
name = ["ali", "waleed", "saad" ]
x,y,z = name
# print(x)
# print(y)
# print(z)
# Output Variables
x = "Python is awesome"
# print(x)
x = "Python"
y = "is"
z = "awesome"
# print(x, y, z)
x = "Python "
y = "is "
z = "awesome"
# print(x + y + z)
x = 5
y = 10
# print(x + y) # 15 due to addition 
x = 5
y = "John"
# print(x + y) # error because types of both variable are not same 
x = 5
y = "John"
# print(x, y)
# Global Variables
# example 1
x = "Python" 
def myFunc ():
    print(x + "is awesome i like it. Its a dynamic langue and used worldwide.")

# myFunc()
# example 2
x = "awesome"
def myFunc():
  x = "fantastic"
  print("Python is " + x)

# myFunc() # In this case python will print inside the function value fantastic

# print("Python is " + x) # in this case python will print first x variable value which is outside the function.
# example 3
def myFunc():
  global x
  x = "fantastic"

# myFunc()

#print("Python is " + x)
x = "awesome"

def myFunc():
  global x
  x = "fantastic"

myFunc()

print("Python is " + x) # In this case python will print the value of x which is globally assigned. "fantastic"

Python is fantastic

04. Python Data Types  
Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
None Type:	NoneType

In [31]:
x = "My name is khalid nawaz ch" # str 
x = 123 # int 
x = 2.0 # float 
x = 7j # complex 
x = ["ali","saad", "waleed", "khalid"]# list 
x = ("ali","saad", "waleed", "khalid")# tuple  
x = range(6) # range 
x = {"name" : "John", "age" : 36} # dict 
x = {"apple", "banana", "cherry"} # set
x = frozenset({"apple", "banana", "cherry"}) # frozenset
x = True # bool
x = False # bool
x = b"logo" # bytes 
x = bytearray(5) # bytearray
x = memoryview(bytes(5)) # memoryview 
x = None

05. Get data types

In [32]:
k = "khalid nawaz"
print(type(k))

<class 'str'>

06. f-string 
if you want to make a card or other thing like this you have to need put data of different data types in a single data type then simply use f-string function.

In [39]:
Name = "Hello, World I am khalid nawaz."
education = "I have done master in PIAIC."
Age = "I am 28 years old."
roleNumber = 22517

data = f""" 
Name = {Name}
Education = {education}
Age = {Age}
Role Number = {roleNumber}
"""
print (data)

Name = Hello, World I am khalid nawaz.
Education = I have done master in PIAIC.
Age = I am 28 years old.
Role Number = 22517

07. execute function

In [41]:
code ="""  
print ("My name is khalid nawaz, im from PIAIC.")
num1 = 30
num2 = 50
print (num1+num2)
num3 = 30
num4 = 5 
print (num3*num4)
"""
exec(code)

My name is khalid nawaz, im from PIAIC.
80
150